{% extends 'base.html' %} {% block title %}Blogly Tags{% endblock %} {% block
content%} {% if heading %}

<div class="container-fluid">
  <h1>{{ heading }}</h1>
</div>

{% endif %}

<div class="list-group">
  {% for tag in tags %}

  <a href="/tags/{{tag.tag_id}}">
    <div class="card mb-3" style="max-width: 800px">
      <div class="row g-0">
        <div class="col-md-4 {{tag.color.bg}}"></div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{tag.tag_name}}</h5>
            <p class="card-text">{{tag.tag_descr}}</p>
            <p class="card-text">
              <small class="text-muted">Last updated 1 million years ago</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %} {% block extra_button %}
<a href="/tags/new" class="btn btn-secondary">New Tag</a>
{% endblock %}
